.heroContainer {
  display: block;
  background-color: var(--primary-black-dark);
  width: 100%;
  padding: 1.5rem 2.5rem;
  position: relative;
}

.bgImg {
  /* background: url("../../assets/img/koos/img.png"); */
  background-image: url("../../assets/img/koos/img.png");
  background-repeat: no-repeat;
  /* background-position: top; */
  background-position: 100% 15%;
  background-size: cover;
  object-fit: cover;
}

.bgOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 191, 255, 0.5);
  background-color: rgb(14, 16, 24, 0.9);
}

.bgImg h1 {
  /* font-family: "Geist", "Barlow", Arial, Helvetica, sans-serif; */
  font-size: 8vw;
  text-transform: uppercase;
  letter-spacing: normal;
  letter-spacing: -0.01em;
  /* color: var(--secondary-capri); */
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-top: calc(var(--header-height) - 5rem);
  padding-bottom: 3.5rem;
  transition: margin 150ms ease;
}

.subtitle {
  margin-top: 2rem;
}

.subtitle p {
  font-size: var(--h3);
  text-align: center;
}

@media (min-width: 580px) {
}

@media (min-width: 768px) {
  .heroWrapper {
    margin-top: calc(var(--header-height) + 2rem);
    padding-bottom: 5.5rem;
  }
}

@media (min-width: 1024px) {
  .heroWrapper {
    margin-top: calc(var(--header-height) + 6.5rem);
    padding-bottom: 10.5rem;
  }
}
