.ftrCntnr {
  display: flex;
  padding-top: 4.5rem;
  margin: 0;
  margin-top: 4.5rem;
  background-color: var(--primary-black);
}

.ftrInnrGrd {
  display: grid;
  width: 100%;
  padding-bottom: 2.5rem;
  margin-right: 4.1rem;
  margin-left: 4.1rem;
  margin-bottom: 0;
}

.ftrClmnCntnrBrand {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-pack: start;
  align-items: flex-start;
  -webkit-box-align: start;
  margin: 0;
  padding: 0;
}

.ftrClmnCntnrLinks {
  grid-column: 7/10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-pack: start;
  align-items: flex-start;
  -webkit-box-align: start;
  margin: 0;
  padding: 0;
}

.ftrClmnCntnrContact {
  grid-column: 11/14;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-pack: start;
  align-items: flex-start;
  -webkit-box-align: start;
  margin: 0;
  padding: 0;
}

.ftrHdr {
  padding: 0 0 0.8rem 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--secondary-border);
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
  color: var(--primary-white-darker);
}

.ftrNvgtion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-pack: start;
  align-items: flex-start;
  -webkit-box-align: start;
  margin-top: 0.2rem;
}

.ftrNvgtion > li {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--primary-white-darkest);
  padding: 0.6em 0;
  transition: color 100ms ease;
}

@media (max-width: 580px) {
  .ftrCntnr {
    padding-top: 2.5rem;
  }

  .ftrInnrGrd {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    margin-right: 2.1rem;
    margin-left: 2.1rem;
  }

  .ftrClmnCntnrBrand {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-content: flex-start;
    -webkit-box-pack: start;
    align-items: center;
    -webkit-box-align: center;
  }

  .ftrClmnCntnrBrand .ftrHdr {
    text-align: center;
  }

  .ftrClmnCntnrLinks {
    grid-column: 1;
    grid-row: 1;
  }

  .ftrClmnCntnrContact {
    grid-column: 2;
    grid-row: 1;
  }
}

@media (min-width: 580px) {
  .ftrInnrGrd {
    grid-template-columns: repeat(13, 1fr);
    justify-items: stretch;
    margin-right: 2.1rem;
    margin-left: 2.1rem;
  }

  .ftrClmnCntnrBrand {
    grid-column: 1/ 5;
  }

  .ftrClmnCntnrLinks {
    grid-column: 7/10;
  }

  .ftrClmnCntnrContact {
    grid-column: 11/14;
  }
}

@media (min-width: 768px) {
  .ftrCntnr {
    padding-top: 12.5rem;
  }

  .ftrInnrGrd {
    padding-bottom: 3.5rem;
    margin-right: 6.1rem;
    margin-left: 6.1rem;
  }

  .ftrNvgtion {
    margin-top: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .ftrInnrGrd {
    margin-right: 8.1rem;
    margin-left: 8.1rem;
  }
}
