.aboutSection {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--section-padding-mobile);
  background-color: var(--primary-black);
  color: var(--primary-black-lighter);
  min-height: 1px;
  width: 100%;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gridCol {
  display: flex;
  position: relative;
}

.aboutSection .innerContainer .leftCol {
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 0;
  text-align: center;
}

.leftColText {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-white-darker);
}

.leftColText span {
  color: var(--secondary-capri);
}

.leftColBg {
  width: 10em;
  height: 3.5em;
  position: absolute;
  top: 25%;
  left: 1em;
  color: rgb(255, 96, 68, 0.8);
  opacity: 0.3;
  z-index: 1;
}

.aboutSection .innerContainer .middleCol {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.aboutSection .innerContainer .rightCol {
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  align-items: flex-start;
  gap: 16px;
}

.rightColBg {
  position: absolute;
  top: -50%;
  right: 0;
  width: 10em;
  height: 9em;
  color: rgb(255, 96, 68, 0.8);
  opacity: 0.3;
  z-index: 1;
}

.rightCol p {
  font-size: 1rem;
  text-align: center;
  color: var(--primary-white-darker);
}

.taglineBig {
  font-size: 5.5vw;
  font-size: 6.5rem;
  font-size: 6.5vw;
  font-weight: bold;
  color: var(--primary-white);
  max-width: 30%;
  text-align: center;
  padding: 1em 0em;
  white-space: wrap;
  z-index: 5;
}

.taglineBg {
  position: absolute;
  top: 48%;
  left: 50%;
  right: 50%;
  width: 15em;
  height: 10em;
  color: rgb(255, 96, 68, 0.8);
  transform: translate(-50%, -50%);
  opacity: 0.3;
  z-index: 1;
}

@media (min-width: 1024px) {
  .aboutSection {
    padding: var(--section-padding);
    min-height: 700px;
  }
}

@media (min-width: 768px) {
  .aboutSection {
    padding: var(--section-padding-tablet);
  }

  .innerContainer {
    display: grid;
    grid-template-columns: repeat(3, 12fr);
    width: 100%;
    flex-grow: 1;
    min-height: 0;
  }

  .gridCol {
    grid-column: span 1;
    flex-grow: 1;
    min-height: 0;
  }

  .aboutSection .innerContainer .leftCol {
    padding-top: 18%;
    text-align: start;
  }

  .leftColText {
    font-size: 1.5rem;
  }

  .leftColBg {
    width: unset;
    height: unset;
    top: 15%;
    left: 6em;
  }

  .taglineBig {
    max-width: 85%;
    text-align: center;
    padding-bottom: 20%;
  }

  .taglineBg {
    top: 60%;
    width: unset;
    height: unset;
  }

  .aboutSection .innerContainer .rightCol {
    overflow: hidden;
  }

  .rightColBg {
    top: 0;
    right: -8.5%;
    width: unset;
    height: unset;
  }

  .rightCol p {
    font-size: 1.08rem;
    text-align: start;
  }
}
