@font-face {
  font-family: "Geist";
  src: url(../assets/fonts/geist/sans/Geist-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url(../assets/fonts/geist/sans/Geist-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url(../assets/fonts/geist/sans/Geist-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url(../assets/fonts/geist/sans/Geist-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url(../assets/fonts/geist/sans/Geist-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url(../assets/fonts/geist/mono/GeistMono-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url(../assets/fonts/geist/mono/GeistMono-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-test {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color */
  --primary-black-dark: #0e1018;
  --primary-black: #141821;
  --primary-black-light: #28303b;
  --primary-black-lighter: #5e6469;
  --primary-black-lightest: #797d80;
  --primary-white: #e6e6e6;
  --primary-white-dark: #dcdcde;
  --primary-white-darker: #bcbcbe;
  --primary-white-darkest: #858586;
  --secondary-capri: #00bfff;
  --secondary-capri-dark: #0074b4;
  --secondary-capri-darker: #182e6f;
  --accent-neon-coral: #ff6044;

  --primary-border: rgb(121, 125, 128, 0.7);
  --secondary-border: rgb(121, 125, 128, 0.2);

  /* Typography */
  --h1: clamp(2.75rem, 3.5vw + 1.4375rem, 4.5rem);
  --h2: clamp(3.5rem, 1vw + 3.125rem, 4rem);
  --h3: clamp(1.75rem, 1vw + 1.375rem, 2.25rem);

  --p-md: 2vw;
  --p-sm: 14px;

  /* Padding */
  --global-padding: 3.6rem;
  --global-padding-inner: 6.6rem;
  --section-padding: 8.5rem 6.6rem 5.5rem;
  --section-padding-big: 8.5rem 8.1rem 5.5rem;

  /* Margins */
  --margin-desktop-spcr: 8.5rem;
  --margin-desktop-section: 0 8.1rem;
  --margin-section-tablet: 0 6.1rem;

  /* Heights */
  --header-height: 11.12em;

  /* Mobile */
  /* Padding */
  --section-padding-tablet: 4.5rem 3.6rem 2.5rem;
  --section-padding-big-tablet: 4.5rem 4rem 2.5rem;
  --section-padding-mobile: 3.5rem 2.1rem 1.5rem;

  --global-padding-mobile: 2.5rem;

  /* Margins */
  --margin-section-mobile: 0 3.1rem;
  --margin-desktop-section-tablet: 0 1.1rem;
}

html {
  width: 100%;
  font-size: 0.9rem;
  scroll-behavior: smooth;
  /* scrollbar-width: thin; */
}

body {
  font-family: "Geist", "Barlow", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.15;
  font-synthesis: none;
  overflow-x: hidden;
  /* background-color: var(--primary-white); */
  background-color: var(--primary-black);
  color: var(--primary-white);
  width: 100%;
  /* height: 100%; */
  transition: color 0.3s ease, background-color 0.3s ease;
}

h1,
h2,
h3,
h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.5rem;
  font-size: var(--h1);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-left: -0.06em;
}

h1 span {
  margin-left: 0.5rem;
  color: var(--secondary-capri);
}

ul,
ol {
  list-style: none;
  margin: 0;
  margin-block: 0;
  padding-inline: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: currentColor;
  cursor: pointer;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity, color, background-color,
    -webkit-transform, border;
  -webkit-transition-property: opacity, color, background-color, transform,
    border;
  transition-property: opacity, color, background-color, transform, border;
}

button,
[type="button"],
[type="reset"],
[role="tab"],
[type="submit"] {
  -webkit-appearance: button;
}

button,
[role="button"],
[role="tab"],
[type="submit"] {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

:focus {
  /* outline-width: 0.2em;
  outline-style: dashed;
  outline-color: rgb(255, 96, 68, 0.5); */
}

::selection {
  background-color: var(--secondary-capri);
  color: var(--primary-black);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-black-lighter);
  border: 3px solid var(--primary-black);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-black);
}

.app {
  position: relative;
  display: block;
  outline: none;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* Or shorthand: margin: 0 auto; */
  padding-inline: 0rem;
}

.main {
  display: block;
  outline: none;
  background-color: var(--primary-black);
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.nav-link {
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Forms */
.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-form .input-wrapper textarea::placeholder,
.contact-form .input-wrapper input::placeholder {
  color: inherit;
  transition: color 0.2s ease;
}
.contact-form .input-wrapper textarea:focus::placeholder,
.contact-form .input-wrapper input:focus::placeholder {
  color: transparent;
}

.contact-form .input-wrapper:not(.focused) textarea,
.contact-form
  .input-wrapper:not(.focused)
  input:not([type="submit"]):not([type="button"]) {
  border-color: currentColor;
}

.contact-form textarea,
.contact-form input:not([type="submit"]):not([type="button"]) {
  line-height: 1.5;
  font-size: 1em;
}

.input-wrapper textarea,
.input-wrapper [type="tel"],
.input-wrapper [type="text"],
.input-wrapper [type="email"],
.input-wrapper [type="search"],
.input-wrapper [type="password"] {
  border: 0;
  padding: 0.6em;
  padding-left: 0;
  position: relative;
  color: currentColor;
  background: transparent;
  border-bottom: 1px solid currentColor;
}

.input-wrapper textarea:after,
.input-wrapper [type="tel"]:after,
.input-wrapper [type="text"]:after,
.input-wrapper [type="email"]:after,
.input-wrapper [type="search"]:after,
.input-wrapper [type="password"]:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
}

.contact-form textarea {
  height: 4.2em;
}

textarea {
  resize: none;
  overflow: auto;
}

input,
button,
textarea {
  border-radius: 0;
  -webkit-tap-highlight-color: transparent;
}

textarea:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="email"]:focus,
[type="search"]:focus,
[type="password"]:focus {
  outline: transparent;
}

textarea:required,
textarea:invalid,
[type="tel"]:required,
[type="tel"]:invalid,
[type="text"]:required,
[type="text"]:invalid,
[type="email"]:required,
[type="email"]:invalid,
[type="search"]:required,
[type="search"]:invalid,
[type="password"]:required,
[type="password"]:invalid {
  box-shadow: none;
}

/* Sections */

.section-hidden {
  visibility: visible;
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);
}

.section {
  transition: all, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.sectionNew {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: all, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.contactSection #home-contact label {
  font-size: 0.8em;
}

.contactSection #home-contact label,
.contactSection #home-contact textarea,
.contactSection #home-contact [type="text"],
.contactSection #home-contact [type="email"] {
  font-weight: 200;
}

/* Transitions */
.text {
  visibility: visible;
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);
}

.textReveal {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: all, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

/* Media queries */

@media (hover: hover) and (any-pointer: fine) {
  .nav-link::after {
    content: "";
    width: 20%;
    min-width: 1em;
    height: 100%;
    opacity: 0;
    top: 0;
    right: 0;
    transform: translateX(0);
    transform-origin: left;
    transition: 0.3s;
    position: absolute;
    pointer-events: none;
    background-color: currentColor;
  }
}

@media (hover: hover) and (any-pointer: fine) {
  .nav-link:hover:after {
    opacity: 0.2;
    transform: translateX(0.5em);
  }
}

@media (min-width: 701px) {
  main {
    touch-action: none;
    scroll-snap-type: y mandatory;
  }

  .contactSection #home-contact label {
    font-size: 0.9em;
  }
}

@media (min-width: 701px) and (max-width: 1600px) {
  html {
    font-size: clamp(0.875rem, 1vw, 1rem);
  }
}
