.container {
  position: relative;
  display: flex;
  margin: 0px auto;
  max-width: 1600px;
  max-width: unset;
  min-height: 100vh;
  padding: 0 var(--global-padding);
  padding-top: var(--global-padding-inner);
  padding-bottom: var(--global-padding-inner);
  margin-top: 0px;
  background-color: var(--surface-sky-blue);
}

/* Resume meta */
.meta {
  position: absolute;
  top: 2em;
  right: 2em;
  display: flex;
  font-size: 0.925em;
}

.container .meta a {
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: normal;
  color: var(--text-muted);
}

.container .meta a:not([hidden]) {
  display: flex;
}

.metaLink {
}

.container .meta a:not(:last-of-type) {
  margin-right: 1em;
}

.container .meta a:last-of-type svg {
  /* opacity: 0.8; */
  margin-right: 0.3rem;
}

.container .meta a.linkedin {
  color: var(--linkedin-blue);
}

.container .meta a svg {
  width: 1em;
  height: 1em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

/* Resume overview */
.container .resumeOverview {
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.container .resumeOverview section {
  position: relative;
  z-index: 1;
}

.container .resumeOverview section:not(:last-child) {
  margin-bottom: 2em;
}

.container .resumeOverview section span {
  display: block;
  line-height: 2.5;
}

.container .resumeOverview a:not(.metaLink),
.container .projects a:not(.metaLink) {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1;
  color: var(--soft-sky-blue);
  position: relative;
}

.container .resumeOverview a:not(.metaLink):first-of-type {
  /* margin-bottom: 0.1em; */
}
.container .resumeOverview a:not(.metaLink):last-of-type {
  /* margin-top: 0.2em; */
}

.container .resumeOverview a:not(.metaLink):after {
  /* content: "";
  height: 0.4em;
  width: 109%;
  display: block;
  margin-top: -0.6rem;
  margin-left: -4%;
  position: absolute;
  background-color: var(--accent-neon-coral);
  opacity: 0.3;
  z-index: -1; */
  /* content: "";
  width: 20%;
  min-width: 1em;
  height: 100%;

  top: 0;
  right: 0;
  opacity: 0.2;
  transform: translateX(0.5em);
  transform-origin: left;
  transition: 0.3s;
  position: absolute;
  pointer-events: none;
  background-color: currentColor;
  z-index: -1; */
}

.container h3,
.container h4 {
  display: inline-block;
  font-weight: 700;
  display: flex;
  color: var(--soft-sky-blue);
  margin: 0;
}

.container .resumeOverview section h3 {
  font-size: 1.2em;
}

.container ul {
  color: var(--text-muted);
  margin-top: 0.5em;
}

.container ul li {
  position: relative;
  line-height: 1.7;
}

.container ul li:not(.company):before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  margin-right: 0.3em;
  vertical-align: 10%;
  display: inline-block;
  background-color: currentColor;
  filter: contrast(1.2);
}

/* Resume body */
.container article {
}

.container .profileSummary {
  position: relative;
  margin-bottom: 5rem;
}

.container .profileSummary::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--border-lines);
}

.container .name {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--soft-sky-blue);
}

.container .profileSummary h2 {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 1.602em;
  font-weight: normal;
}

.container .profileSummary p {
  margin: 3em 0 2em;
}

.container article p {
  font-size: 1.2em;
  line-height: 1.5;
}

.container article > section:not(:last-of-type) {
  margin-bottom: 5em;
}

.container article > section {
  position: relative;
}

.container article > section > p {
  margin: 1em 0 1.2em;
}

.container article h3 {
  font-size: var(--h3);
  font-size: 1.525em;
}

.container .companies {
  position: relative;
}

.container p,
.container ul {
  color: var(--text-muted);
}

.container .company:not(:last-of-type) {
  margin-bottom: 2rem;
}

.container .company p {
  margin: 0;
}

.container .company {
  position: relative;
}

.container .company header {
  display: flex;
}

.container .company h4 {
  margin-top: 0;
  font-size: 1.266em;
  line-height: 1.4;
  margin-right: 1em;
}

.container .company h4 span {
  font-weight: normal;
  color: var(--text-muted);
}

.container .company h4 span::before {
  content: "— ";
  margin-left: 0.5em;
}

.container article section h3,
.container article section h4 {
  margin: 2.75rem 0 1rem;
}

.container .company .period {
  flex-shrink: 0;
}

.container .company .points {
  margin-top: 1em;
  margin-left: 1em;
}

.container .company .points li:not(:last-of-type) {
  margin-bottom: 0.3em;
}

.container .company .points li {
  -webkit-text-indent: -0.97em;
  text-indent: -0.97em;
}

.container .company .outro,
.container .points {
  font-size: 1.1em;
}

.container ul,
.container ol,
.container li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container .company .outro {
  margin-top: 1em;
}

.container .projects {
  margin-bottom: 14em;
}

.companies .projects p a {
  margin: 0 0.2em;
}

.container .logo {
  position: absolute;
  width: 7em;
  bottom: 2em;
}

/* Media Queries */

@media (max-width: 790px) {
  .container {
    flex-direction: column;
    padding-left: 8.9vw;
    padding-right: 1.5rem;
  }

  .container .resumeOverview section:first-of-type {
    display: none;
  }

  .container .resumeOverview section:last-of-type {
    margin-left: 1em;
  }

  .container .company header {
    flex-direction: column;
    margin-bottom: 1em;
  }

  .container .company h4 {
    margin-bottom: 0.2em;
  }
}

@media (min-width: 791px) {
  .container .meta a:not([hidden])[href^="mailto:"] {
    display: none;
  }

  .container .resumeOverview {
    flex-direction: column;
  }

  .container article {
    max-width: 80vw;
  }

  .container .profileSummary::after {
    /* margin-left: -8%; */
  }

  .container .company .period {
    margin-left: auto;
    margin-right: 2em;
  }

  .container .logo {
    left: 4em;
  }
}

@media (min-width: 1000px) {
  .container .resumeOverview {
    margin-right: 6.5rem;
  }

  .container article .company > p,
  .container article > section > p,
  .container article .company .points,
  .container article .profileSummary > p {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: calc(var(--global-padding) * 1.2) 7vw;
  }

  .container .profileSummary::after {
    /* width: 114%; */
  }
}

@media (min-width: 1440px) {
  /* .container {
    margin: calc(var(--global-padding) * 1.2) 7vw;
  } */
}
