.container {
  display: flex;
  height: auto;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  transition: transform 1s ease 0s;
  z-index: 10;
}

.contentControl {
  /* place-content: center space-between;
  align-items: center; */
  display: flex;
  /* flex-flow: row; */
  /* height: min-content; */
  overflow: visible;
  /* padding: 16px 48px; */
  position: relative;
  width: inherit;
}

.contentScroll {
  /* For controlling the header */
}

.headerWrapper {
  /* For wrapping the header */

  display: flex;
  justify-content: center;
  width: 100%;
}

.headerContent {
  /* For wrapping the content */
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  /* justify-content: center;
  -webkit-box-pack: center; */
  align-items: center;
  -webkit-box-align: center;
  /* width: 100%; */
  min-width: 600px;
  height: 3rem;
  margin: 1.5rem 5.6rem;
  padding: 1rem 0.5rem 1rem 2rem;
  transition:
    width 0.9s ease,
    border-radius 0s ease,
    border-color 150ms ease,
    background-color 150ms ease;
}

.contentControl.contentScroll .headerContent {
  /* flex: 0 0 auto;
  gap: 32px;
  height: min-content;
  justify-content: center;
  padding: 8px 8px 8px 32px;
  width: min-content; */
  /* width: 70%; */
}

.contentControl .logo {
  /* place-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 16px;
  height: min-content;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: 130px; */
}

.logo a {
  /* width: min-content; */
  /* transform: translateX(100%); */
  text-decoration: none;
}

.logoText {
  font-size: 28px;
  line-height: 1;
  letter-spacing: -1.5px;
  font-weight: 700;
  color: var(--blck-primary);
}
.logoText span {
  color: var(--acnt-primary);
}

.navMenu,
.headerCTA {
  display: block;
}

.navMenuList {
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  -webkit-box-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: var(--acnt-dark);
}

.navMenuList li {
  display: inline-block;
}

.navMenuList li:not(:last-child) {
  margin: 0 1rem;
}

.navMenuList li > a {
  text-decoration: none;
  color: var(--blck-primary);
  font-size: clamp(0.7rem, 1.1vw, 1.5rem);
  font-weight: 500;
}

.navMenuList li > a:hover {
  color: var(--blck-60);
}

.navMenuList li > a.active {
  color: #000;
  color: var(--blck-60);
}

.contentControl .navMenu {
  /* place-content: center flex-start;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 48px;
  height: 100%;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: min-content; */
}
