.headerMain {
  display: none;
  font-size: 1rem;
  width: 100%;
  max-width: 1440px;
  /* min-height: var(--header-height); */
  height: var(--header-height);
  position: fixed;
  padding: 2.5rem 2.5rem 0rem;
  transition: var(--transition);
  z-index: 11;
}

.headerInner {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
}

.headerNav {
  font-family: "Barlow", "Geist", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  /* color: var(--primary-white-darker); */
  color: #a8b2d1;
}

.headerNav ul li {
  padding: 6px 0px;
}

.headerNav ul li:first-child {
  padding-top: 0px;
}
.headerNav ul li:last-child {
  padding-bottom: 0px;
}

@media (min-width: 768px) {
  .headerMain {
    display: block;
    padding: 3.6rem 3.6rem 0rem;
  }

  .headerNav {
    font-size: 1.2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .hide {
    transform: translateY(calc(var(--header-height) * -1));
    z-index: -5;
  }

  .show {
    transform: translateY(0px);
  }
}
