.contactSection {
  display: block;
  padding: 8.5rem 0rem 0rem;
  background-color: var(--surface-color);
  color: var(--text-primary);
  width: 100%;
}

.contactInnerContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
}

.contactTop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: start;
  justify-items: start;
  margin: 0rem 2.1rem;
}

.contactHeading {
  grid-column: span 3;
  width: 100%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.contactHeading h1 {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: clamp(2.25rem, 5.5vw + 0.188rem, 5rem);
  letter-spacing: -0.03em;
  margin-left: 0;
}

.contactHeading h1 span {
  margin-left: 0;
}

.contactBody {
  grid-column: span 3;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  align-items: flex-end;
  height: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--text-primary);
}

.contactPage .contactBody > p {
  font-size: 18px;
  font-size: clamp(1rem, 0.25vw + 0.906rem, 1.125rem);
}

.contactBottom {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-top: 3.5rem;
  padding: 4.5rem 5.5rem 5.5rem;
  padding: var(--section-padding-mobile);
  background-color: transparent;
  background-color: var(--bg-color);
}

.contactSection .contactBottom form {
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
}

.contactSection .contactBottom form > div {
  width: 100%;
}

.formHeader {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-bottom: 3.2rem;
}

.formHeader p {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.3;
  text-transform: capitalize;
}

.formHeader span {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-left: 2.5rem;
}

.contactBottom .formHeader span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--soft-sky-blue);
  padding: 1px;
  border-radius: 100px;
  border: 1px solid currentColor;
}

.contactBottom .formHeader span svg {
  width: 1rem;
  height: 1rem;
}

.contactSection .contactBottom form label {
  margin-bottom: 0.5rem;
}

.contactBottom form .formRow:not(:nth-last-of-type(2)) {
  margin-bottom: 2rem;
}

.formRow {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 2.5rem;
}

.formRow .inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  color: var(--text-muted);
  opacity: 0.5;
}

.formRow .inputGroup.focused {
  color: var(--soft-sky-blue);
  opacity: 1;
}

.contactBottom form textarea {
  scrollbar-width: thin;
  scrollbar-color: var(--border-lines) var(--surface-color);
}

.contactBottom form textarea::-webkit-scrollbar {
  width: 12px;
  cursor: grabbing;
}

.sendButton {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 5.5rem;
}

@media (max-width: 480px) {
  .contactBottom {
    padding: 4.5rem 3.5rem 5.5rem;
  }
}

@media (max-width: 580px) {
  .formRow {
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .contactSection {
    padding: 8.5rem 0rem 0rem;
  }

  .contactPage {
    padding: 13rem 0 0;
  }

  .contactTop {
    margin: 0rem 3.6rem;
  }

  .contactHeading {
    grid-column: span 2;
  }

  .contactBody {
    grid-column: 3;
    font-size: 1.1rem;
    margin-top: 0;
  }

  .contactBottom {
    margin-top: 6.5rem;
    padding: 6.5rem 12.5vw 8.5rem;
  }

  .formHeader {
    margin-bottom: 5.2rem;
  }
  .formHeader p {
    font-size: 1.2rem;
  }

  .formHeader span {
    margin-left: 4.5rem;
  }

  .contactBottom .formHeader span svg {
    width: 1.1rem;
    height: 1.1rem;
  }

  .contactBottom form .formRow:not(:nth-last-of-type(2)) {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .contactTop {
    margin: 0rem 6.6rem;
  }

  .contactBottom {
    padding: 6.5rem 15.5vw 10.5rem;
  }
}

@media (min-width: 1440px) {
  .contactBottom {
    padding: 6.5rem 15.5vw 12.5rem;
  }
}
