.projectListItem:not(:last-of-type) {
  margin-bottom: 8.25rem;
}

.projectListItem:first-child {
  margin-top: 3.6rem;
}

.projectListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin: var(--margin-desktop-section);
  background-color: var(--primary-black-dark);
}

.projectContainer {
  width: 100%;
}

/* Project header */

.projectHeader {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 2rem 2.5rem;
}

.projectHeader .projectLabel {
  flex: 1;
  color: var(--secondary-capri);
  font-size: var(--p-sm);
  font-size: 1rem;
}

.projectMeta {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.projectStackList {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  color: var(--primary-white-darkest);
  font-family: "Geist Mono", "Fira Code", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: 300;
}

.projectListItem .projectStackList li:not(:first-child) {
  margin-left: 1.5rem;
}

.projectListItem .projectLink {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 3.5rem;
  color: var(--primary-white-darkest);
}

.projectListItem .projectLink li:not(:first-child) {
  margin-left: 1rem;
}

.projectListItem .projectLink a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media (hover: hover) and (any-pointer: fine) {
  .projectListItem .projectLink a:hover {
    color: var(--secondary-capri);
  }
}

.projectListItem .projectLink a svg {
  width: 20px;
  height: 20px;
}

svg.feather {
  fill: none;
}

svg {
  vertical-align: middle;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

/* Project body */
.projectBody {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: end;
  align-items: end;
  position: relative;
  width: 100%;
  padding: 2rem 0rem 0rem;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--secondary-border);
}

.projectListItem .projectDetails {
  grid-area: 1 / 9;
  margin-top: 4rem;
  padding: 5rem 3.5rem 2.5rem 5rem;
  background-color: var(--primary-white);
  color: var(--primary-black);
  z-index: 5;
}

.projectDetailsContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: 1080px) {
  .projectListItem .projectDetails {
    grid-area: 1 / 1 / -1 / 6;
  }
}

/* Project details */
.projectNumber {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
  color: var(--primary-black-lighter);
}

.projectName {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-size: var(--h2);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.04em;
  margin: 1rem 0rem 2.5rem;
}

.projectListItem .projectDescription {
  position: relative;
  font-size: 0.99rem;
  color: var(--primary-black-lighter);
  padding: 1.5rem 0rem 0rem;
  white-space: wrap;
}

/* Project image */
.projectListItem .projectImage {
  grid-area: 1 / 5 / -1 / -1;
  position: relative;
  z-index: 1;
  height: 100%;
  max-height: 450px;
}

.projectListItem .projectImage .imageCover {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 1;
}

.projectListItem .projectImage .imageCover:hover {
  background-color: var(--accent-neon-coral);
  background-color: var(--secondary-capri);
}

.projectListItem .projectImage .imageCover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  border: none;
  background: transparent;
  mix-blend-mode: screen;
  /* filter: none; */
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 3;
}
.projectListItem .projectImage .imageCover:hover::before {
  background-color: var(--primary-black);
}

.projectImageWrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.projectListItem .projectImage .img {
  background: transparent;
  filter: none;
}

.projectListItem .projectImage .imageCover:hover .img {
  mix-blend-mode: screen;
  mix-blend-mode: soft-light;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1) brightness(90%);
  transform: translate(-0.3px, -0.3px);
}

img,
svg,
.projectImageWrapper {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.imageInnerWrapper {
  display: block;
  min-width: 700px;
  height: 100%;
}

.projectImageWrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* Project footer */

.projectFooter {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 2rem 2.5rem;
}

.paginationDots {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  flex: 1;
}

.paginationDots li {
  display: inline-block;
  margin-right: 16px;
}

.paginationDots li:last-child {
  padding-right: 0;
}

.paginationDots li button {
  width: 6px;
  height: 6px;
  background-color: var(--primary-white-darkest);
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.2s 100ms;
  -webkit-transition: transform 0.2s 100ms;
  transition: transform 0.2s 100ms ease, background-color 0.2s 150ms ease;
}

.paginationDots li:first-child button {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.7);
  background-color: var(--accent-neon-coral);
  opacity: 1;
}

.slideProgress {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
  color: var(--primary-white-darkest);
  font-family: "Barlow", "Inter", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.slideProgress hr {
  width: 1.8rem;
  margin: 0px 0.25rem;
  height: 1px;
  border: none;
  background-color: var(--primary-white-darkest);
}

.slideButtons button {
  background-color: transparent;
  color: var(--accent-neon-coral);
}

.slideButtons button[data-inactive="true"] {
  color: var(--primary-white-darkest);
  opacity: 0.5;
  cursor: default;
}
