.container {
  display: block;
  padding: var(--section-padding-mobile);
  background-color: var(--bg-color);
  width: 100%;
}

.projectList {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 1.5rem;
}

.projectList li:not(:first-child) {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .container {
    padding: var(--section-padding-tablet);
  }

  .projectList {
    margin-top: 2.5rem;
  }

  .projectList li:not(:first-child) {
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: var(--section-padding);
  }

  .projectList li:not(:first-child) {
    margin-top: 6rem;
  }
}
