.container {
  display: block;
  width: 100%;
}

.itemWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem;
  width: 100%;
  background-color: rgb(40, 48, 59, 0.4);
  background-color: var(--primary-black-dark);
  transition: all 150ms ease;
}

.contentCol,
.imgCol {
  grid-column: span 12;
  height: auto;
}

.projectDetails {
  position: relative;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.shape {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-color: var(--accent-neon-coral);
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.2s ease-in-out, transform 0.5s;
  z-index: 2;
}

.shapeReveal {
  opacity: 1;
  transform: scale(1);
}

.textsContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
  margin: 4rem 0 0 1rem;
  padding-left: 0.2rem;
  border-width: 0px 0px 0px 2px;
  border-color: var(--primary-border);
  border-style: solid;
  z-index: 10;
}

.textsContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.5rem;
  height: 4px;
  width: 1rem;
  background-color: var(--primary-white-darker);
}
.textsContainer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 8rem;
  background-color: var(--primary-border);
}

.textsContainer .flexCol:last-child {
  margin-top: 3rem;
}

.flexCol {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.flexContainer {
  display: flex;
  margin-top: 0.8rem;
  color: var(--primary-white-darker);
}

.projectTitle {
  font-size: var(--h3);
  color: var(--primary-white);
  max-width: 50%;
  opacity: 0;
  transform-origin: left center;
  transform: rotateY(45deg) translateZ(0);
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s,
    transform 0.5s 0.25s;
  /* transition: opacity 0.2s ease-in-out, transform 0.5s; */
}

.titleReveal {
  opacity: 1;
  transform: rotateY(0deg) translateZ(0);
}

.flexCol h3 span {
  color: var(--secondary-capri);
}

.flexInner1 {
  width: 55%;
  font-size: 1rem;
  font-weight: 500;
}

.flexInner2 {
  align-items: flex-end;
  width: 45%;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.projectInfo {
  font-size: 0.7rem;
  color: var(--primary-white-darker);
}

.projectInfo p {
  font-weight: 600;
}

.infoTextWrapper {
  overflow: hidden;
}
.infoTextWrapper p {
  font-weight: 400;
}

.infoText {
  font-weight: 400;
  color: var(--primary-white-darkest);
  transform-origin: bottom center;
  transition: opactity 0.5s ease-in-out, transform 0.5s;
}

/* .infoTextReveal {
  opacity: 1;
  transform: translateY(0);
} */

.projectImg {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projectImg a {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  user-select: none;
}

.projectLinkWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: transparent;
  transform-origin: right center;
  transition: all 0.2s;
  z-index: 10;
}

.projectImg a:hover .projectLinkWrapper {
  width: 100%;
  background-color: rgb(0, 191, 255, 0.8);
}

.linkBtnContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  opacity: 0;
}
.projectImg a:hover .linkBtnContainer {
  opacity: 1;
}

.imgContainer {
  height: 100%;
  min-height: 250px;
  /* position: relative; */
  overflow: hidden;
  background-color: transparent;
  opacity: 0;
  transform: rotateY(-65deg) translateZ(0);
  transform-origin: right center;
  transition: opactity 0.2s ease-in-out, transform 0.5s;
  z-index: 5;
}

.imgReveal {
  opacity: 1;
  /* transform: translate(0); */
  transform: rotateY(0deg) translateZ(0);
}

.img {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.bottomInfo {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 1rem;
}

.bottomLine {
  width: 8rem;
  height: 2px;
  background-color: var(--primary-border);
}

@media (max-width: 480px) {
  .bottomLine {
    width: 5rem;
  }
}

@media (min-width: 768px) {
  .itemWrapper {
    padding: 2rem;
  }

  .contentCol,
  .imgCol {
    grid-column: span 6;
  }

  .shape {
    top: 6rem;
    width: 5rem;
    height: 5rem;
  }

  .textsContainer {
    margin: 8rem 4rem 0 1.5rem;
  }

  .textsContainer::before {
    left: 2.5rem;
    height: 6px;
    width: 1.5rem;
  }

  .textsContainer::after {
    right: 4rem;
  }

  .textsContainer .flexCol:last-child {
    margin-top: 12rem;
  }

  .flexInner1 {
    font-size: 1.1rem;
  }

  .flexInner2 {
    font-size: 0.9rem;
  }

  .projectInfo {
    font-size: 0.9rem;
  }

  .projectImg {
    padding: 0;
  }

  .imgContainer {
    min-height: 1px;
  }

  .bottomInfo {
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  /* .infoText {
    opacity: 0;
    transform: translateY(-100%);
  }

  .infoTextReveal {
    opacity: 1;
    transform: translateY(0);
  } */
}
