.container {
  display: block;
  /* padding: var(--section-padding-mobile); */
  background-color: var(--primary-black);
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
  color: var(--primary-white-darker);
}

.threeCol {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  padding: 3.5rem 2.1rem 0;
}

.credits {
  -ms-flex-order: 2;
  order: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 0;
  width: 200px;
  transition: all 0.2s ease;
}

.summary {
  order: 2;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15vw;
  transition: all 0.2s ease;
}

.col {
  width: 100%;
  margin-right: 30px;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 400;
}

.col2 {
  margin-top: 1em;
}

.container .threeCol .credits h5 {
  font-size: 1.286rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-white-dark);
}

.container .threeCol .credits h6 {
  font-size: 1.143rem;
  font-weight: 300;
  margin-block-end: 2.33em;
  /* margin-bottom: 10px; */
}

.container .threeCol .credits a {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.container .threeCol .credits .title {
  font-weight: 500;
  color: var(--primary-white-dark);
  margin-bottom: 5px;
}

.container .threeCol .credits span {
  display: block;
}

.container .threeCol .credits span:not(.title) {
  margin-bottom: 1.42857rem;
  color: var(--primary-white-darker);
}

.container p:first-of-type {
  margin-top: 0;
}
.container p:last-of-type {
  margin-bottom: 0;
}

.container p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.container p strong {
  color: var(--primary-white-dark);
}

.twoCol {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15vw;
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  /* margin-left: auto;
  margin-right: auto; */
  max-width: calc(1440px + 20vw);
}

.info {
  perspective: 250px;
  perspective-origin: 0 0;
  margin-top: 5vw;
  margin-left: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  transition: all 0.2s ease;
}

.projectGallery .pagination {
  width: 50%;
  float: right;
  margin-bottom: 5vw;
  text-align: right;
}

.projectGallery .pagination button {
  color: var(--primary-white-dark);
  outline: none;
}

.projectGallery .pagination button svg {
  fill: var(--primary-white-dark);
}

.projectGallery .pagination .current {
  padding-left: 10px;
}

.projectGallery .pagination .total {
  padding-right: 10px;
}

.container .twoCol .info .title {
  font-size: 1.143rem;
  font-weight: 600;
  width: 50%;
  float: left;
  margin-bottom: 5vw;
}

.projectGallery .info .projectPages {
  clear: both;
}

/* Image gallery */
.projectGallery .mediaGallery {
  position: relative;
  width: 100%;
  transition: all 0.2s ease;
}

.imageViewport {
  position: relative;
  height: 371.82px;
  overflow: hidden;
  touch-action: pan-y;
}

.imageSlider {
  position: absolute;
  width: 100.05%;
  height: 100%;
  transition: transform 150ms ease;
  /* background-color: aquamarine; */
}

.projectGallery .mediaGallery img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.sliderDots {
  display: flex;
  position: static;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  list-style: none;
  line-height: 1;
}

.sliderDots .dot {
  display: inline-block;
  height: 2px;
  width: 100%;
  margin: 0;
  border-radius: 0;
  background-color: var(--primary-white-darkest);
  opacity: 1;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.sliderDots .dot[aria-selected="true"] {
  background-color: var(--primary-white);
}

.previousNextBtn {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: hsla(0, 0%, 100%, 0.75);
  background-color: transparent;
  cursor: pointer;
  transform: translateY(0);
}

.previousNextBtn.previous {
  left: 0;
}
.previousNextBtn.next {
  right: 0;
}

.singleCol {
  padding-top: 5vh;
}

.singleCol .projectSummary {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
  flex-wrap: wrap;
}

.projectImage {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px + 20vw);
}

.projectImage img {
  width: 100%;
  height: 100%;
}

.projectImage .info .title {
  font-size: 1.143rem;
  font-weight: 600;
  margin-bottom: 5vw;
}

@media (min-width: 568px) {
  .threeCol {
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }

  .credits {
    order: 2;
    margin-left: 30px;
  }

  .summary {
    order: 1;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .container {
    /* padding: var(--section-padding-big-tablet); */
  }

  .threeCol {
    padding: 4.5rem 10vw 0;
    max-width: calc(1440px + 20vw);
  }

  .twoCol {
    flex-wrap: unset;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 15vh 10vw 0;
    max-width: calc(1440px + 20vw);
  }

  .info {
    width: 200px;
    margin-left: 30px;
    margin-top: 0;
  }

  .projectGallery .pagination {
    width: unset;
    float: none;
    text-align: unset;
    margin-bottom: 20px;
  }

  .container .twoCol .info .title {
    width: unset;
    float: none;
    margin-bottom: 1.1rem;
  }

  .projectGallery .info .projectPages {
    clear: none;
  }

  .singleCol {
    padding-top: 5vh;
  }

  .singleCol .projectSummary {
    width: calc(100% - 200px);
  }

  .projectImage {
    flex-wrap: unset;
    padding: 15vh 10vw 0;
    /* margin-left: auto;
  margin-right: auto; */
  }

  .projectImage img {
    width: calc(100% - 200px);
  }

  .projectImage .info .title {
    margin-bottom: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    /* padding: var(--section-padding); */
  }

  .threeCol {
    padding-top: 8.5rem;
  }

  .summary {
    flex-wrap: nowrap;
  }

  .col2 {
    margin-top: 0;
  }

  .singleCol .projectSummary {
    flex-wrap: nowrap;
  }

  .projectImage {
    /* flex-wrap: unset; */
  }
}

@media (min-width: 1440px) {
  .imageViewport {
    height: 471.82px;
  }
}
