.skillSection {
  display: block;
  padding: var(--section-padding-mobile);
  /* background-color: var(--primary-black); */
  background-color: var(--surface-color);
  width: 100%;
}

.skllSctnWrppr {
  display: flex;
  padding: 2.25rem;
  /* background-color: rgb(40, 48, 59, 0.4); */
  background-color: var(--bg-color);
  /* min-height: 100%; */
  overflow: hidden;
}

.tabs {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}

.skillsTablist {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  overflow-x: scroll;
  padding: 0.75rem;
}

.skillsTablist.xMandatoryScrolling {
  scroll-snap-type: x mandatory;
}

.xMandatoryScrolling::-webkit-scrollbar {
  height: 10px;
}

.xMandatoryScrolling::-webkit-scrollbar-thumb {
  /* background-color: var(--primary-black-lighter); */
  background-color: var(--bg-color);
  border: 3px solid var(--border-lines);
  border-radius: 10px;
}

.xMandatoryScrolling::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--surface-color);
}

.tabs .skillsTablist button {
  flex: none;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  /* color: var(--primary-white-darkest); */
  color: var(--text-muted);
  background-color: transparent;
  scroll-snap-align: center;
  text-align: center;
}

.tabs .skillsTablist button[tabIndex="0"] {
  color: var(--text-muted);
}

.tabs .skillsTablist button[tabIndex="0"]:focus {
  outline: none;
}

.tabs .skillsTablist button[tabIndex="-1"]:hover {
  /* color: var(--primary-white); */
  color: var(--text-muted);
}
.tabs .skillsTablist button[tabIndex="0"]::after {
  content: "";
  width: 20%;
  min-width: 1em;
  height: 100%;
  opacity: 0.2;
  top: 0;
  right: 0;
  transform: translateX(0.5em);
  transform-origin: left;
  transition: 0.3s;
  position: absolute;
  pointer-events: none;
  background-color: currentColor;
}

.skillTabPanel {
  padding: 1.5rem 0;
  transition: all 0.3s ease;
}

.skllSctnInnrGrdCntnr {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
  width: 100%;
}

.skllSctnInnrSide {
  grid-column: span 4;
}

.skllSctnInnrLne {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.skllTmLne {
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  width: 1px;
  height: 100%;
  /* background-color: rgb(0, 191, 255, 0.3); */
  background-color: var(--soft-sky-blue);
  opacity: 0.3;
}

.skllTmLnePoint {
  position: absolute;
  top: 100%;
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: var(--soft-sky-blue);
  opacity: 0;
  transition: top 950ms ease, opacity 150ms ease;
}

.activeTmLnePoint {
  opacity: 1;
  top: calc(var(--top-percentage));
}

.inActiveTmLnePoint {
  top: -100%;
}

.skllSctnInnrMain {
  grid-column: span 7;
}

.skllSctnInnrSideWrppr {
  display: grid;
  grid-template-rows: repeat(6, 100px);
  padding: 2rem 0.2rem 2rem 1rem;
  gap: 0;
}

.skllSctnInnrMainWrppr {
  display: grid;
  /* grid-template-rows: repeat(6, minmax(100px, auto)); */
  grid-auto-rows: minmax(100px, auto);
  padding: 3.25rem 1.25rem 0rem 0.2rem;
  gap: 0;
  width: 100%;
  overflow: hidden;
}

.skllSctnTtlCntnr {
  grid-row: span 1;
  display: flex;
  align-items: center;
  padding: 1.25rem 0 1.25rem;
}

.skllSctnGlblCntnr {
  grid-row: span 6;
  margin-top: 2.25rem;
}

.skillsHeading {
  display: block;
  width: 100%;
  /* color: var(--primary-white); */
  color: var(--text-primary);
}

.skllSctnTbsCntnr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: flex-start;
  -webkit-box-align: start;
  width: 100%;
  height: auto;
}

.skllTbsItm {
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: var(--primary-white-darkest);
  color: var(--text-muted);
  width: max-content;
  transition: all 250ms linear;
}

.skllTbsItm:hover {
  /* color: var(--primary-white); */
}

.activeTab {
  /* color: var(--primary-white); */
  color: var(--text-muted);
}

.skllTbsItm button {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  padding: 0;
  position: relative;
  cursor: pointer;
  user-select: none;
  z-index: 5;
}

.activeTab button::after {
  content: "";
  width: 20%;
  min-width: 1em;
  height: 100%;
  opacity: 0.2;
  top: 0;
  right: 0;
  transform: translateX(0.5em);
  transform-origin: left;
  transition: 0.3s;
  position: absolute;
  pointer-events: none;
  background-color: currentColor;
}

.skllSctnCta {
  margin-top: 4.5rem;
}

.skllSctnDtlsCntnr {
  display: flex;
  width: 100%;
  height: 100%;
}

.skllSctnDtls {
  flex: 1;
  margin-right: 0.5rem;
}

/* Skills details */

.skllSctnDtlsWrppr {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.skllsDtlsLst {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-pack: start;
  position: relative;
  width: 100%;
  height: 100%;
}

.skllsDtlsLstItm {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: top 750ms ease, opacity 250ms ease;
  /* transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s; */
}

.activeLstItm {
  opacity: 1;
  top: 0;
}

.inActiveLstItm {
  top: -200%;
}

.skllsDtlsLstInfCntnr,
.skllsDtlsLstItmCntnr,
.skllsDtlsDescInfo,
.skllsDtlsDesc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-pack: start;
  font-size: 16px;
}

.skllsDtlsDesc {
  margin-bottom: 1.5rem;
}

.skllsDtlsDesc h5 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  /* color: var(--primary-white); */
  color: var(--text-primary);
}

.skllsDtlsDesc p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  margin-top: 1.5rem;
  /* color: var(--primary-white-darker); */
  color: var(--text-muted);
}

.skllsDtlsDescInfo {
  padding-top: 1rem;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--border-lines);
}

.skllsDtlsDescInfo:first-child {
  margin-bottom: 1.875rem;
}

.skllsDtlsDescInfo h6 {
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  /* color: var(--primary-white-dark); */
  color: var(--text-primary);
}

.skllsDtlsDescInfo p {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  /* color: var(--primary-white-darker); */
  color: var(--text-muted);
  margin-top: 0.625rem;
}

.skllsDtlsDescInfo p span {
  font-weight: 600;
  letter-spacing: 0;
  /* color: var(--primary-white-dark); */
  color: var(--text-muted);
}

/* Skills shapes */

.skllSctnShp {
  display: none;
}

.skllSctnShpsWrppr {
  display: flex;
  position: relative;
  height: 100%;
}

.skllsShpsLst {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-pack: start;
  position: relative;
  width: 100%;
  height: 100%;
}

.skllsShpsLstItm {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translate(10rem, 20rem);
  transition: transform 999ms ease, opacity 5ms ease;
}

.skllsShpsCntnr {
  position: relative;
  width: 100px;
  height: 100px;
}

@media (min-width: 580px) {
  .skillSection {
    padding: var(--section-padding-mobile);
  }

  .skllSctnWrppr {
    padding: 0;
  }

  .tabs {
    display: none;
  }

  .skllSctnInnrGrdCntnr {
    display: grid;
  }

  .skllSctnInnrSideWrppr {
    padding: 2.25rem 0.2rem 2.25rem 1.5rem;
  }

  .activeTmLnePoint {
    top: calc(var(--top-percentage) - 2.7rem);
  }

  .skllSctnTtlCntnr {
    padding: 3.25rem 0;
  }

  .skllsDtlsDesc {
    margin-bottom: 2.5rem;
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .skillSection {
    padding: var(--section-padding);
  }

  .skllSctnInnrSideWrppr {
    padding: 6.25rem 1.5rem 3.25rem 3rem;
  }

  .skllSctnInnrMainWrppr {
    padding: 7.25rem 3.25rem 7.25rem 0.5rem;
  }

  .skllSctnInnrMainWrppr {
    grid-template-rows: repeat(6, minmax(100px, auto));
    padding: 3.25rem 1.25rem 0rem 1rem;
  }

  .activeTmLnePoint {
    /* top: var(--top-percentage); */
    top: calc(var(--top-percentage) + 1.5rem);
  }
  .skllSctnDtls {
    margin-right: 1.5rem;
  }

  .skllSctnShp {
    display: block;
  }

  .skllSctnShp {
    flex: 0 0 auto;
    position: relative;
    min-width: 100px;
  }

  .skllsShpsCntnr {
    width: 100px;
    height: 100px;
  }
  .skllsDtlsDesc h5 {
    font-size: 1.5rem;
  }

  .skllsDtlsDescInfo p {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .skillSection {
    padding: var(--section-padding-big);
  }
}

@media (hover: hover) and (any-pointer: fine) {
  .skllTbsItm:not(.activeTab) button::after {
    content: "";
    width: 20%;
    min-width: 1em;
    height: 100%;
    opacity: 0;
    top: 0;
    right: 0;
    transform: translateX(0);
    transform-origin: left;
    transition: 0.3s;
    position: absolute;
    pointer-events: none;
    background-color: currentColor;
  }
}

@media (hover: hover) and (any-pointer: fine) {
  .skllTbsItm:not(.activeTab) button:hover:after {
    opacity: 0.2;
    transform: translateX(0.5em);
  }
}
